<!-- NAVBAR -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to 'New list', new_list_path, class: "btn btn-primary" %>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
<!-- END NAVBAR -->



<!-- BANNER -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/b9/bc/83/b9bc8397fa951c0002c7b397ea3ee76f.jpg);">
  <div class="container">
    <h1>Save any kind of movies</h1>
  </div>
</div>
<!-- END BANNER -->



<!-- CARD -->
<div class="container">
  <div class="cards mt-5">
    <% @lists.each do |list| %>
      <a href="<%= list_path(list) %>"> <%= cl_image_tag list.photo.key, height: 180, width: 180, crop: :fill %></a>
    <% end %>
  </div>
</div>
<!-- END CARD -->
